*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.cont{
    width: 100vw;
    height: 100vh;
    background-image: url(earthh.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 160px;
    padding-top: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content p{
    padding-bottom: 10px;
    font-weight: 500;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.lunch{
    display: flex;
}
.lunch div{
    flex-basis: 100px;
}
.lunch div p{
    font-size: 60px;
    margin-bottom: 14px;
}